* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1f5f8;
}

.h2 {
    background-color: #222;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 32px;
    margin-bottom: 24px;
}

.container {
    text-align: center;
}

.color {
    color: #49a6e9;
}

.btn {
    background: transparent;
    padding: 8px;
    border: 2px solid #222;
    border-radius: 5px;
    font-size: 16px;
    letter-spacing: 1.5px;
    color: #222;
    cursor: pointer;
    transition: background .2s linear, color .2s linear;
}

.btn:hover {
background-color: #222;
color: #fff;
}